docling
google-genai
qdrant-client
langgraph
langchain
langchain-core
langchain-community
langchain-google-genai
python-multipart
fastapi[all]
uvicorn
python-dotenv
tiktoken
pdf2image
pydantic-settings
onnxruntime
groq
sentence-transformers
